{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    <!-- About us 1 -->

    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-sm-4 offset-sm-1">
                <div>
                    <h1 class="my-5 display-5">ABOUT US</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        culpa, placeat odio beatae esse, ratione aut reprehenderit eos et
                        ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus fugiat
                        quam officiis?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 2 -->

    <div class="container-fluid my-5 bg-light">
        <div class="row">
            <div class="col-md-6 col-xxl-4 g-0">
                <img
                        src="{{ asset('img/img/adriaticXL.jpg') }}"
                        class="img-fluid"
                        style="height: 370px"
                        alt="..."
                />
            </div>
            <div class="col-md-4 offset-md-1 col-xxl-6 offset-xxl-1 bg-light">
                <div>
                    <h2 class="my-5 display-5">OUR HERITAGE</h2>
                    <p class="pb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        culpa, placeat odio beatae esse, ratione aut reprehenderit eos et
                        ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus fugiat
                        quam officiis?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 3 -->

    <div class="container-fluid my-5 py-5">
        <div data-aos="flip-up" class="container">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3">DEVELOPMENT</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                            culpa, placeat odio beatae esse, ratione aut reprehenderit eos
                            et ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus
                            fugiat quam officiis?
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3">DEVELOPMENT</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                            culpa, placeat odio beatae esse, ratione aut reprehenderit eos
                            et ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus
                            fugiat quam officiis?
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3">DEVELOPMENT</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                            culpa, placeat odio beatae esse, ratione aut reprehenderit eos
                            et ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus
                            fugiat quam officiis?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 4 -->

    <div class="container-fluid my-5 py-5 bg-dark text-white">
        <div data-aos="zoom-in" class="container">
            <div class="row">
                <div class="col-3 text-center">
                    <div>
                        <p class="display-3">4</p>
                        <div class="h-divider"></div>
                        <p class="display-4 border-top">City</p>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div>
                        <p class="display-3">4</p>
                        <div class="h-divider"></div>
                        <p class="display-4 border-top">City</p>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div>
                        <p class="display-3">4</p>
                        <div class="h-divider"></div>
                        <p class="display-4 border-top">City</p>
                    </div>
                </div>
                <div class="col-3 text-center">
                    <div>
                        <p class="display-3">4</p>
                        <div class="h-divider"></div>
                        <p class="display-4 border-top">City</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
