{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    {% set properties = latest_properties() %}
    <!-- About us 1 -->

    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-sm-4 offset-sm-1">
                <div>
                    <h1 class="my-5 display-2 text-uppercase">{% trans %}About us{% endtrans%}</h1>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 2 -->

    <div class="container-fluid my-5 bg-secondary">
        <div class="row">
            <div class="col-md-6 col-xxl-4 g-0">
                <img
                        src="{{ asset('build/img/component/componentAboutPage.jpg') | imagine_filter('scale') }}"
                        class="img-fluid"
                        style="height: 370px"
                        alt="..."
                />
            </div>
            <div class="col-md-4 offset-md-1 col-xxl-6 offset-xxl-1">
                <div>
                    <h2 class="my-5 display-5 text-uppercase">{% trans %}Our heritage{% endtrans%}</h2>
                    <p class="pb-5 display-6 fs-5">
                        {% trans %}Adriaticante is a solution allowing the relationship between seller and buyer of real estate.
                            This makes it possible to promote real estate in the Adriatic zone for private or professional investors.
                            The countries concerned are Italy, Slovenia, Croatia and Montenegro (only available cities bordering the Adriatic Sea)
                        {% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 3 -->

    <div class="container-fluid my-5 py-5">
        <div data-aos="flip-up" class="container">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3 text-uppercase">{% trans %}Discover{% endtrans%}</p>
                        <p class="display-6 fs-5">
                            {% trans %}Discover the properties offered in 4 countries located in the Adriatic Sea.
                                Filter your search with the essential information you want for your new real estate.
                            {% endtrans %}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3 text-uppercase">{% trans %}Sell{% endtrans%}</p>
                        <p class="display-6 fs-5">
                            {% trans %}Put your real estate up for sale to find buyers. You can provide your phone number and your ad link if you have a website. (for professionals)
                                Fill in the main information of your real estate.{% endtrans %}
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3 text-uppercase">{% trans %}Communicate{% endtrans%}</p>
                        <p class="display-6 fs-5">
                            {% trans %}Use internal messaging to facilitate discussions between you and your interlocutor.{% endtrans %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 4 -->

    <div class="container-fluid my-5 py-5 bg-dark text-white">
        <div data-aos="zoom-in" class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">4</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Countries{% endtrans%}</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">17</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Cities{% endtrans%}</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">24</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Agencies{% endtrans%}</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">137</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Ads{% endtrans%}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Carousel Last Properties -->

    {% include('component/_carousel_last_properties.html.twig') %}

{% endblock %}

