{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    {% set properties = latest_properties() %}
    <!-- About us 1 -->

    <div class="container-fluid py-5">
        <div class="row">
            <div class="col-sm-4 offset-sm-1">
                <div>
                    <h1 class="my-5 display-5 text-uppercase">{% trans %}About us{% endtrans%}</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        culpa, placeat odio beatae esse, ratione aut reprehenderit eos et
                        ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus fugiat
                        quam officiis?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 2 -->

    <div class="container-fluid my-5 bg-secondary">
        <div class="row">
            <div class="col-md-6 col-xxl-4 g-0">
                <img
                        src="{{ asset('build/img/img/adriaticXL.jpg') | imagine_filter('scale') }}"
                        class="img-fluid"
                        style="height: 370px"
                        alt="..."
                />
            </div>
            <div class="col-md-4 offset-md-1 col-xxl-6 offset-xxl-1">
                <div>
                    <h2 class="my-5 display-5 text-uppercase">{% trans %}Our heritage{% endtrans%}</h2>
                    <p class="pb-5">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                        culpa, placeat odio beatae esse, ratione aut reprehenderit eos et
                        ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus fugiat
                        quam officiisi?
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 3 -->

    <div class="container-fluid my-5 py-5">
        <div data-aos="flip-up" class="container">
            <div class="row">
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3 text-uppercase">{% trans %}Development{% endtrans%}</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                            culpa, placeat odio beatae esse, ratione aut reprehenderit eos
                            et ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus
                            fugiat quam officiis?
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3 text-uppercase">{% trans %}Development{% endtrans%}</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                            culpa, placeat odio beatae esse, ratione aut reprehenderit eos
                            et ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus
                            fugiat quam officiis?
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <p class="my-5 fs-3 text-uppercase">{% trans %}Development{% endtrans%}</p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                            culpa, placeat odio beatae esse, ratione aut reprehenderit eos
                            et ipsa saepe ipsum illum. Ab, natus voluptatem voluptatibus
                            fugiat quam officiis?
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About us 4 -->

    <div class="container-fluid my-5 py-5 bg-dark text-white">
        <div data-aos="zoom-in" class="container">
            <div class="row">
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">4</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Countries{% endtrans%}</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">17</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Cities{% endtrans%}</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">24</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Agencies{% endtrans%}</p>
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="col-6 offset-3 py-4">
                        <p class="display-5">137</p>
                        <div class="h-divider border-top"></div>
                        <p class="display-6 fs-3 mt-3">{% trans %}Ads{% endtrans%}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Carousel Last Properties -->

    {% include('component/_carousel_last_properties.html.twig') %}

{% endblock %}

