{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}



{% block body %}
    {% set properties = latest_properties() %}

    <!-- CAROUSEL -->

    {% include('home/components/_mainImage.html.twig') %}


    <!-- DISCOVER -->
    <div id="ancre-country"  class="container-fluid my-5 py-5">
        <div class="container py-5">
            <div class="row">
                {% for country in countries %}
                <div data-aos="fade-right" class="col-10 offset-1 col-lg-6 offset-lg-0 my-4 px-3">
                    <a href="{{ path('property', {'country' : country.id }) }}">
                        <div class="card bg-dark text-white rounded-0 border-0">
                            <div class="inner">
                                <img
                                        src="{{ asset('build/img/img/' ~ country.file) | imagine_filter('scale') }}"
                                        class="card-img"
                                        style="height: 240px; width: 100%"
                                        alt="..."
                                />
                                <div class="d-flex align-items-center justify-content-center card-img-overlay rounded-0 gradient-custom-4">
                                    <div class="text-center my-4">
                                        <p class="card-title display-3 text-center text-uppercase">{{ country.name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!-- GRADIENTCONTAINER -->

    <div class="container-fluid gradientContainerTop"></div>

    <!-- EXPLORER -->

    {% include('home/components/_explorer.html.twig') %}

    <!-- GRADIENTCONTAINERBOTTON -->

    <div class="container-fluid gradientContainerBottom"></div>

    <!-- LAST PROPERTIES -->

    {% include('component/_carousel_last_properties.html.twig') %}

    <!-- ABOUT -->

    {% include('home/components/_about.html.twig') %}

    <!-- CONTACT -->

    {% include('home/components/_contact.html.twig') %}






{% endblock %}
