<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
{#                <div class="col-sm-6 col-md-3 item text-center">#}
{#                    <h3>Services</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Web design</a></li>#}
{#                        <li><a href="#">Development</a></li>#}
{#                        <li><a href="#">Hosting</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-3 item text-center">#}
{#                    <h3>About</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Company</a></li>#}
{#                        <li><a href="#">Team</a></li>#}
{#                        <li><a href="#">Careers</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-3 item text-center">#}
{#                    <h3>Services</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Web design</a></li>#}
{#                        <li><a href="#">Development</a></li>#}
{#                        <li><a href="#">Hosting</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-3 item text-center">#}
{#                    <h3>About</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Company</a></li>#}
{#                        <li><a href="#">Team</a></li>#}
{#                        <li><a href="#">Careers</a></li>#}
{#                    </ul>#}
{#                </div>#}

                <div class="row">
                    <div class="col item social mt-5">
                        <a href="#"><i class="fa-brands fa-instagram"></i></a
                        ><a href="#"><i class="fa-brands fa-twitter"></i></a
                        ><a href="#"><i class="fa-brands fa-youtube"></i></a
                        ><a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <p class="copyright">ADRIATICANTE - 2022</p>
        </div>
    </footer>
</div>