<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
{#                <div class="col-sm-6 col-md-3 item text-center">#}
{#                    <h3>Services</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Web design</a></li>#}
{#                        <li><a href="#">Development</a></li>#}
{#                        <li><a href="#">Hosting</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-3 item text-center">#}
{#                    <h3>About</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Company</a></li>#}
{#                        <li><a href="#">Team</a></li>#}
{#                        <li><a href="#">Careers</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-3 item text-center">#}
{#                    <h3>Services</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Web design</a></li>#}
{#                        <li><a href="#">Development</a></li>#}
{#                        <li><a href="#">Hosting</a></li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="col-sm-6 col-md-3 item text-center">#}
{#                    <h3>About</h3>#}
{#                    <ul>#}
{#                        <li><a href="#">Company</a></li>#}
{#                        <li><a href="#">Team</a></li>#}
{#                        <li><a href="#">Careers</a></li>#}
{#                    </ul>#}
{#                </div>#}

                <div class="row">
                    <div class="col item social mt-5">
                        <a href="https://www.instagram.com/adriaticante/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.linkedin.com/in/adriaticante-real-estate-708a74239/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href=mailto:contact@adriaticante.com"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.google.com/maps/place/Trieste,+Italie/@45.6522988,13.7136222,12z/data=!3m1!4b1!4m5!3m4!1s0x477b6b06e4edf533:0x666a2484d4dd2b50!8m2!3d45.6495264!4d13.7768182" target="_blank"><i class="fa-solid fa-location-arrow"></i></a>
                    </div>
                </div>
            </div>
            <p class="copyright">ADRIATICANTE - 2022</p>
        </div>
    </footer>
</div>