<div class="container-fluid px-5">
    <nav class="navbar navbar-expand-md navbar-light">
        <a href="#" class="navbar-brand"
        ><img src="{{ asset('img/logo/adriaticante.png') }}" alt="logo" width="180" height="45"
            /></a>
        <button
                class="navbar-toggler border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#toggleMobileMenu"
                aria-controls="toggleMobileMenu"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <img src="{{ asset('img/icon/menu.png') }}" alt="menu" height="30" />
        </button>
        <div class="collapse navbar-collapse" id="toggleMobileMenu">
            <ul class="navbar-nav ms-auto text-center">
                <li><a href="#" class="nav-link">PROPERTIES</a></li>
                <li><a href="#" class="nav-link">ABOUT US</a></li>
                <li><a href="#" class="nav-link">CONTACT</a></li>
                <a href="{{ path('sign_in') }}"><button class="btn btn-dark rounded-0 ms-2">SIGN IN</button></a>
            </ul>
        </div>
    </nav>
</div>