<div class="align-items-start row">
    <div class="col-8 offset-1 col-md-5 offset-md-3">
        {{ form_widget(form) }}
    </div>

    <div class="col-2 col-md-1 text-center btn-remove">
        <button class="btn btn-danger rounded-0 text-uppercase"><i class="fa-solid fa-xmark"></i>
        </button>
    </div>
</div>