<div class="row">
    <div class="col-md-6">
        {{ form_row(form.name) }}
    </div>

    <div class="col-md-6 btn-remove">
        <i class="fa-solid fa-trash-can iconColorRemove fa-3x"></i>
    </div>
</div>
