$primary: #263238;
$secondary: #E0F7FA;
$light: #CFD8DC;
$info: #ffffff;
// the ~ allows you to reference things in node_modules
@import "./../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./styles.scss";

@import '~lightgallery/scss/lightgallery';


$theme-colors: (
        "primary":    $primary, //#ECEFF1
        "secondary":  $secondary, //#263238
        "success":    $success,
        "info":       $info,
        "warning":    $warning,
        "danger":     $danger,
        "light":      $light, //#CFD8DC
        "dark":       $dark
);