<div class="container mb-5 px-4">
    <div class="row">
        <div class="col-12 text-uppercase">
            <div data-aos="zoom-in" class="card rounded-0 py-4" style="background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{ asset('build/img/component/componentAbout.jpg') | imagine_filter('background') }});">
                <div
                        class="card-body d-flex align-items-center justify-content-center"
                >
                    <h3 class="card-title text-white fw-light py-4">{% trans %}About Us{% endtrans%}</h3>
                </div>
                <div
                        class="card-body d-flex align-items-center justify-content-center"
                >
                    <h3 class="card-title text-white fw-light py-4">{% trans %}Find out more{% endtrans%}</h3>
                </div>
                <div
                        class="card-body d-flex align-items-center justify-content-center py-4"
                >
                    <a href="{{ path('about') }}">
                        <button
                                type="button"
                                class="btn btn-outline-light rounded-0 mt-3 fw-bold text-uppercase"
                        >
                            {% trans %}About{% endtrans%}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>