<div class="container mb-5 px-4">
    <div class="row">
        <div class="col-12 text-uppercase">
            <div data-aos="zoom-in" class="card backgroundContact rounded-0 py-5 border-0" style="background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.5)), url({{ asset('build/img/component/componentContact.jpg') | imagine_filter('background') }});">
                <div
                        class="card-body d-flex align-items-center justify-content-center"
                >
                    <h3 class="card-title fw-normal py-4">{% trans %}Need for support ?{% endtrans%}</h3>
                </div>
                <div
                        class="card-body d-flex align-items-center justify-content-center"
                        style="height: 150px"
                >
                    <h3 class="card-title fw-normal py-4">{% trans %}Contact us{% endtrans%}</h3>
                </div>
                <div
                        class="card-body d-flex align-items-center justify-content-center py-4"
                >
                    <a href="{{ path('contact') }}">
                        <button type="button" class="btn btn-outline-dark rounded-0 mt-3 text-uppercase fw-bold">
                            {% trans %}Contact{% endtrans%}
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>