<!-- EXPLORER -->

<div class="container-fluid bg-secondary">
    <div class="container py-5">
        <div class="align-items-center text-center row py-5">
            <div
                    class="col-6 col-md-6 col-lg-4 offset-lg-1 my-4"
            >
                <div data-aos="zoom-in" class="container text-center">

                    <i class="fa-solid fa-building fa-7x"></i>
                </div>
            </div>
            <div
                    class="col-6 col-md-6 col-lg-4 offset-lg-2 my-4"
            >
                <div data-aos="zoom-in" class="container text-center">
                    <p class="display-4">
                        {% trans %}Discover{% endtrans %}
                    </p>
                    <p class="display-6 fs-5">
                        {% trans %}Discover real estate investment opportunities{% endtrans %}
                    </p>
                </div>
            </div>
            <div
                    class="col-6 col-md-6 col-lg-4 offset-lg-1 my-4"
            >
                <div data-aos="zoom-in" class="container text-center">
                    <p class="display-4">
                        {% trans %}Explore{% endtrans %}
                    </p>
                    <p class="display-6 fs-5">
                        {% trans %}Explore the different rental offers{% endtrans %}
                    </p>
                </div>
            </div>
            <div
                    class="col-6 col-md-6 col-lg-4 offset-lg-2 my-4"
            >
                <div data-aos="zoom-in" class="container text-center">
                    <i class="fa-solid fa-bed fa-7x"></i>
                </div>
            </div>
            <div
                    class="col-6 col-md-6 col-lg-4 offset-lg-1 my-4"
            >
                <div data-aos="zoom-in" class="container text-center">
                    <i class="fa-solid fa-comment-dots fa-7x"></i>
                </div>
            </div>
            <div
                    class="col-6 col-md-6 col-lg-4 offset-lg-2 my-4"
            >
                <div data-aos="zoom-in" class="container text-center">
                    <p class="display-4">
                        {% trans %}Contact{% endtrans %}
                    </p>
                    <p class="display-6 fs-5">
                        {% trans %}Contact the seller · purchaser here{% endtrans %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>