
<!-- NEWSLETTER -->


<div class="container-fluid my-5">
    <div class="row">
        <div class="container col-12 col-md-10 col-xxl-8 text-white">
            <div data-aos="zoom-in" class="card backgroundNewsletter rounded-0 border-0">
                <div class="text-center py-5">
                    <h1 class="display-4">NEWSLETTER</h1>
                </div>
                <div class="row">
                    <div
                            class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 text-center"
                    >
                        <form>
                            <div class="mb-3">
                                <input
                                        type="email"
                                        class="form-control"
                                        id="exampleInputEmail1"
                                        aria-describedby="emailHelp"
                                        placeholder="EMAIL"
                                />
                            </div>

                            <div
                                    class="col-sm-10 offset-sm-1 col-xxl-8 offset-xxl-2 form-check"
                            >
                                <input
                                        type="checkbox"
                                        class="form-check-input"
                                        id="exampleCheck1"
                                />
                                <label class="form-check-label fontNewsletter" for="exampleCheck1"
                                >You agree to receive our latest blog posts</label
                                >
                            </div>
                            <div
                                    class="col-sm-10 offset-sm-1 col-xxl-8 offset-xxl-2 form-check"
                            >
                                <input
                                        type="checkbox"
                                        class="form-check-input"
                                        id="exampleCheck1"
                                />
                                <label class="form-check-label fontNewsletter" for="exampleCheck1"
                                >You agree to receive advertisements from our partners</label
                                >
                            </div>
                            <button type="submit" class="btn btn-secondary rounded-0 mt-4">
                                SIGN UP
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>