{% extends 'base.html.twig' %}

{% block title %}Sign-up{% endblock %}

{% block body %}
    <section
            class="vh-100 bg-image"
            style="background-image: url({{ asset('img/img/adriaticXL.jpg') }})"
    >
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div
                        class="row d-flex justify-content-center align-items-center h-100"
                >
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card rounded-0">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">
                                    Create an account
                                </h2>

                                <form>
                                    <div class="form-floating mb-3">
                                        <input
                                                type="email"
                                                class="form-control"
                                                id="floatingInput"
                                                placeholder="name@example.com"
                                        />
                                        <label for="floatingInput">Email address</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="floatingInput"
                                                placeholder="name@example.com"
                                        />
                                        <label for="floatingInput">Username</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="floatingInput"
                                                placeholder="name@example.com"
                                        />
                                        <label for="floatingInput">Lastname</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input
                                                type="text"
                                                class="form-control"
                                                id="floatingInput"
                                                placeholder="name@example.com"
                                        />
                                        <label for="floatingInput">Firstname</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input
                                                type="password"
                                                class="form-control"
                                                id="floatingPassword"
                                                placeholder="Password"
                                        />
                                        <label for="floatingPassword">Password</label>
                                    </div>

                                    <div class="form-floating mb-3">
                                        <input
                                                type="password"
                                                class="form-control"
                                                id="floatingPassword"
                                                placeholder="Password"
                                        />
                                        <label for="floatingPassword">Repeat your password</label>
                                    </div>

                                    <div class="form-check d-flex justify-content-center mb-5">
                                        <input
                                                class="form-check-input me-2"
                                                type="checkbox"
                                                value=""
                                                id="form2Example3cg"
                                        />
                                        <label class="form-check-label" for="form2Example3g">
                                            I agree all statements in
                                            <a href="#!" class="text-body"
                                            ><u>Terms of service</u></a
                                            >
                                        </label>
                                    </div>

                                    <div class="d-flex justify-content-center">
                                        <button
                                                type="button"
                                                class="btn btn-success btn-dark btn-lg rounded-0"
                                        >
                                            Sign Up
                                        </button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">
                                        Have already an account?
                                        <a href="{{ path('sign_in') }}" class="fw-bold text-body"
                                        ><u>Login here</u></a
                                        >
                                    </p>
                                </form>
                                <div class="text-center mt-4">
                                    <img src="{{ asset('img/logo/adriaticante.png') }}" alt="logo" height="50" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
