{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <div class="row">
            <div class="col-10 offset-1">
                <h1 class="text-center display-2 my-5">Page not found</h1>
                <div class="text-center my-5"><i class="fa-solid fa-triangle-exclamation fa-7x"></i></div>
                <p class="text-center display-6 fs-4 my-5">
                    The requested page couldn't be located. Checkout for any URL
                    misspelling or
                    <a href="{{ path('home') }}" class="fw-bold"
                    >return to the homepage.</a
                    >
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-10 offset-1">
                <p class="text-center display-6 fs-6">Status code : {{ status_code }}</p>
            </div>
        </div>
    </div>
{% endblock %}